extends layout

block content
  // About showcase
  p#about-text
    span.
      Hi, I’m Tom. I like to make stuff with software. I’m a full stack
      developer and I also write algorithms using C/C++. As my resume
      says, I’m a student programmer/engineer. Solid foundation in
      mathematics and algorithmic thinking. Seeking to use programming
      skills and collaboration to tackle tough problems.
      In 2014, I founded Ice Cube Studios, where I make lots of cool
      things, such as a calculator. You can view my resume here (PDF).
      If you want to contact me, let’s talk. My contact page is
    | 
    a(href='contact.html') here
    |.
  img#about-img(src='images/avatar.png')
