extends layout

block content
  include tag_filter.pug

  div#blog-container
    each blog in blogs
      div.box
        strong.title #[p #{blog.title}]
        div.tagspace
          each tag in blog.tags
            span.tag #{tag}
        img.cover-image(src=blog.coverImage)
        p.description
          span description used to go here
          | 
          a(href=blog.url) More.
    else
      p There are no blogs matching your filter
    