doctype html
html
  head
    title Control panel
  body
    h3 Control panel
    a(href='/control/create' style="display: block") Create
    a(href='/control/change' style="display: block") Change
    a(href='/en' style="display: block") Home (en)
    a(href='/cn' style="display: block") Home (cn)