extends layout

block content
  -
    let text = {};
    if(language == "en") {
      text = {
        intro: "You can email me at tom.jiao@outlook.com You can also visit my Github or LinkedIn. Or, feel free to leave a quick comment.",
        comment: "Hello world"
      }
    } else if (language == "cn") {
      text = {
        intro: "您可以通过电子邮箱联系我：tom.jiao@outlook.com 您也可以访问我的Github或LinkedIn。另外可以在下方留言。",
        comment: "你好世界"
      }
    }
  p#about-text
    p #{text.intro}
    p #{text.comment}
