extends basicHTML

block content
	a(href='/'+language+'/control/create' style="display: block") Create
	a(href='/'+language+'/control/change' style="display: block") Change
	a(href='/'+language+'/control/tags' style="display: block") Tag manager
	a(href='/'+language style="display: block") Home
