extends layout

block content
  -
    text = {
      create: ["Create", "创建"],
      change: ["Change", "更改"],
      tag: ["Tag manager", "标签管理"],
    };
  div#about-text
    a(href='control/create' style="display: block") #{text.create[lang]}
    a(href='control/change' style="display: block") #{text.change[lang]}
    a(href='control/tags' style="display: block") #{text.tag[lang]}
