extends layout

block content
  h3 Create new post
  form(method='POST' action='')
  
    label(for='type') type:
    select#type(style="display: block")
      option project
      option blog

    label(for='title') title:
    input#title(type='text' style="display: block")

    | tags:
    div#tagspace
      div
        input(type='text' placeholder='enter tag here')
        button(type='button' onClick='removeTag()') x
    button(type='button' onClick='addTag()') add tag
    
    button(type='submit' style="display: block") submit
  
  // Maybe move this script to another file in /public
  script.
    function addTag() {
      let newTag = document.createElement('div');

      let textInput = document.createElement('input');
      textInput.type = 'text';
      textInput.placeholder = 'enter tag here';
      newTag.appendChild(textInput);

      let buttonRemove = document.createElement('button');
      buttonRemove.type = 'button';
      buttonRemove.innerText = 'x';
      buttonRemove.addEventListener('click', removeTag);
      newTag.appendChild(buttonRemove);
      
      let tagspace = document.getElementById('tagspace');
      tagspace.appendChild(newTag);
    }

    function removeTag() {
      alert('Remove tag');
    }