extends layout

block content
  h3 Create new post
  form(method='POST' action='' enctype="multipart/form-data" style="margin: 10%")
  
    div.form-group
      | type: 
      select(name='type')
        option project
        option blog

    div.form-group
      | title: 
      input(name='title' type='text' autocomplete='off')

    div.form-group
      | description: 
      input(name='description' type='text' autocomplete="off")
    
    div.form-group
      | tags: 
      each tag, index in tags
        input(name='tags' type='checkbox' value=tag.title checked=tag.checked)
        | #{tag.title}
        if index < tags.length - 1
          | ,
      | 
      a(href='/tags') (manage tags)
    
    div.form-group
      | modules
      select(style="display: block")
        option text
        option image
      button add module
      
    div.form-group
      | upload image (this should go in modules section)
      input(type='file' name='image')

    button(type='submit' style="display: block") submit
