extends layout

block content
  h3 Create new post
  form(method='POST' action='')
  
    label(for='type') type:
    select#type(style="display: block")
      option project
      option blog

    label(for='title') title:
    input#title(type='text' style="display: block")

    | tags:
    div#tagspace
    button(type='button' onClick='addTag()') add tag
    
    button(type='submit' style="display: block") submit
  
  // Maybe move this script to another file in /public
  script.
    // Not sure if this is global enough
    let tagSpace = document.getElementById('tagspace');

    function addTag() {
      let newTag = document.createElement('div');
      newTag.id = tagSpace.childElementCount;
      // In the future, get this id from the mongoDB id model
      // (each document will have its own id)

      let textInput = document.createElement('input');
      textInput.type = 'text';
      textInput.placeholder = newTag.id;
      //textInput.required = 'true';
      newTag.appendChild(textInput);

      let buttonRemove = document.createElement('button');
      buttonRemove.type = 'button';
      buttonRemove.innerText = 'x';
      buttonRemove.addEventListener('click', removeTag.bind(null, newTag.id));
      newTag.appendChild(buttonRemove);
      
      tagspace.appendChild(newTag);
    }

    function removeTag(id) {
      console.log(`id: ${id}, childElementCount: ${tagSpace.childElementCount}`);
      for (let i = id+1; i < tagSpace.childElementCount; ++i) {
        console.log('updating id: ' + i);
        let tagToUpdate = document.getElementById(i);
        tagToUpdate.id--;
        tagToUpdate.childNodes[0].placeholder = tagToUpdate.id;
      }
      let tagToRemove = document.getElementById(id);
      tagToRemove.remove();
      /*
        a b c  d  e f
        0 1 2  3  4 5

        a b c  d  e f
        0 1 2 [3] 4 5

        a b c e f
        0 1 2 4 5

        a b c e f
        0 1 2 3 4
      */
    }