- text.control = ["Control panel", "控制面板"];
footer#footer
  span &copy; 2020 Tom Jiao
  span.langBtn#enBtn(onclick="switchTo('en')") En
  |/
  span.langBtn#cnBtn(onclick="switchTo('cn')") 中文
  a(href='/control') #{text.control[lang]}