doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    -
      let lang, text;
      if (language == "en")
        lang = 0;
      else if (language == "cn")
        lang = 1;
      else
        console.log("undefined language!")
  body
    div#page-container
      div#content-wrap
        include navbar.pug
        block content
      include footer.pug
    script(src='/javascripts/navbar.js')
    script(src='/javascripts/footer.js')
