extends layout

block content
  -
    text = {
      username: ["Username:", "用户名："],
      password: ["Password:", "密码："],
      submit: ["Submit", "提交"],
      login: ["Log in", "登陆账号"]
    }
  center
    h3 #{text.login[lang]}
  div.form-div
    form.form-inner(method='POST' action='./')
      | #{text.username[lang]}
      input(type='text' style='display: block' name="username")
      | #{text.password[lang]}
      input(type='password' style='display: block' name="password")
      button(type='submit' style='display: block') #{text.submit[lang]}
      input(type='hidden' name='requestMode' value='login')
