nav#navbar(data-select=page)
  div.hamburger.icon(onclick='toggleHamburger()')
  div.navbox #[a(href='/') Home]
  div.navbox #[a(href='/about') About]
  div.navbox #[a(href='/projects') Projects]
  div.navbox #[a(href='/blog') Blog]
  div.navbox #[a(href='contact.html') Contact]
