-
  text.page = ["Page: ", "页数："]
  let n = (page == "projects") ? (10) : ((page == "blogs") ? (5) : (0));
  let pages = Math.ceil(documentCount/n);
  let p = 1;
// if pages > 1
div(style="margin-top: 10px")
  | #{text.page[lang]}
  while p <= pages
    a(href=`/${language}/${page}/${p}`)= p++
