extends layout

block content
  -
    text = {
      confirm: ["Confirm deletion of ", "确认删除"]
    }
  div.form-div
    form.form-inner(method="POST" action="")
      span #{text.confirm[lang]}
      if language == "en"
        | #{post.titleEn}
      else
        | #{post.titleCn}
      | ? 
      button(style="margin-right: 5px" type="submit" name="result" value="yes") yes
      button(type="submit" name="result" value="no") no
