doctype html
html
  head
    title Delete post
  body
    h3 Are you sure you want to delete: #{post.titleEn}/#{post.titleCn}?
    // Make sure the action is right (because the route is weird)
    form(method="POST" action="")
      button(type="submit" name="result" value="yes") yes
      button(type="submit" name="result" value="no") no