extends basicHTML

block content
  form(method='POST' action='' enctype="multipart/form-data")
    div.form-group
      | type: 
      select(name='type')
        option(value='projects') project
        option(value='blogs') blog

    div.form-group
      | title (en): 
      input(name='titleEn' type='text' autocomplete='off' required
      value = post==undefined ? "" : post.titleEn)
      
    div.form-group
      | title (cn): 
      input(name='titleCn' type='text' autocomplete='off' required
      value = post==undefined ? "" : post.titleCn)

    div.form-group
      | tags: 
      each tag, index in tags
        if tag.checked
          input(name='tags[]' type='checkbox' value=tag._id checked)
        else
          input(name='tags[]' type='checkbox' value=tag._id)
        | #{tag.name}
        if index < tags.length - 1
          | ,
      | 
      a(href='/tags') (manage tags)
    
    div.form-group
      | blocks:
      br
      div#all-blocks
      button(type='button' onclick='addBlock("none")') add block
    
    input#oldImageIndicesToRemove(type="hidden" name="oldImageIndicesToRemove" value="")
    button(type='submit' style="display: block") submit
  a(href='javascript:history.back()' style="display: block") Back
  script(src='/javascripts/block.js')
  if post != undefined
    script.
      var blocks = !{JSON.stringify(post.blocks)};
      addExistingBlocks(blocks);
