extends basicHTML

block content
  a(href='change/project' style="display: block") Projects
  a(href='change/blog' style="display: block") Blogs
  a(href='/'+language+'/control' style="display: block") Back
