extends basicHTML

block content
  a(href='/'+language+'/control/tags/create' style="display: block") New tag
  h4 All tags:
  each tag of tags
    div
      | #{tag.name}
      | (
      a(href='/'+language+`/control/tags/${tag._id}/update`) update
      | ) (
      a(href='/'+language+`/control/tags/${tag._id}/delete`) delete
      | )
  a(href='/'+language+'/control' style="display: block") Back
