extends layout

block content
  -
    text = {
      name: ["Name:", "标签名："],
      submit: ["Submit", "提交"]
    }
  p#about-text
    div.form-div
      form.form-inner(method='POST' action='')
        span #{text.name[lang]} 
        input(name='name' autocomplete='off' required
          value= tag==undefined ? "" : tag.name)
        button(type='submit') #{text.submit[lang]}
