extends basicHTML

block content
  form(method='POST' action='')
    div.form-group
      | name: 
      input(name='name' autocomplete='off' required)
    button(type='submit' style='display: block') submit