extends layout

block content
  -
    text = {
      reminder: ["You are already logged in, please",
                 "您已登陆，请"],
      logout: ["log out", "注销账户"]
    };
  p#about-text
    div.form-div
      form.form-inner(method='POST' action='./')
        span #{text.reminder[lang]}
        button(type='submit' style="display: inline-block") #{text.logout[lang]}
        input(type='hidden' name='requestMode' value='logout')
