extends layout

block content
  -
    text = {
      reminder: ["You are already logged in, please",
                 "您已登陆，请"],
      logout: ["log out", "注销账户"]
    };
  p#about-text
    span #{text.reminder[lang]}
    form(method='POST' action='./')
      button(type='submit') #{text.logout[lang]}
      input(type='hidden' name='requestMode' value='logout')
