extends layout

block content
  -
    text = {
      signup: ["Sign up", "注册新账户"],
      login: ["Log in", "登陆账户"],
      control: ["Control panel", "控制面板"],
      home: ["Home", "首页"]
    };
  div#about-text
    a(href='/' + language + '/user/signup') #{text.signup[lang]}
    a(href='/' + language + '/user/login') #{text.login[lang]}
    a(href='/' + language + '/control') #{text.control[lang]}
    a(href='/' + language) #{text.home[lang]}
