extends basicHTML

block content
  a(href='/user/signup' style="display: block") Sign up
  a(href='/user/login' style="display: block") Log in
  a(href='/control' style="display: block") Control
  a(href='/en' style="display: block") Home