body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* Navbar styling */
#navbar {
  display: flex;
  flex-direction: row;
}
#navbar a {
  text-decoration: none;
  font-size: 17px;
  color: black;
}
#navbar a:hover {
  font-weight: bold;
}
#navbar .navbox.selected {
  font-weight: bold;
}
#navbar .navbox {
  /*border: 1px solid black;*/
  display: inline-block;
  width: 100%;
  height: 50px;
  text-align: center; /* horizontal align */
  line-height: 50px; /* vertical align */
}

/* Toggle icon styling */
#navbar .icon {
  display: none;
  margin-left: 10px;
  margin-top: 10px;
}
#navbar .icon:hover {
  cursor: pointer;
}
#navbar .hamburger {
  position: relative;
  width: 1.5em;
  height: 0.8em;
  margin-right: 0.3em;
  border-top: 0.2em solid #000;
  border-bottom: 0.2em solid #000;
  border-radius: 2px;
}
#navbar .hamburger:before {
  content: "";
  position: absolute;
  top: 0.3em;
  left: 0px;
  width: 100%;
  border-top: 0.2em solid #000;
}

/* Small screen styling */
@media screen and (max-width: 600px) {
  /* Non-expanded mode */
  #navbar .navbox {
    display: none;
  }
  #navbar .icon {
    display: block;
  }
  /* Expanded mode */
  #navbar.expanded {
    display: flex;
    flex-direction: column;
  }
  #navbar.expanded .navbox {
    display: block;
    box-sizing: border-box;
    text-align: left;
    padding-left: 10px;
  }
}

/* Box */
.box {
  /* Remove default link styling */
  /*text-decoration: none;
  color: black;*/

  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
  /*border: 1px solid black;*/
  box-shadow: 0 0 10px rgb(180, 180, 180);
  border-radius: 5px;
  margin: 10px;
  min-width: 350px;
}
.box:hover {
  /*background-color: lightgray;*/
  /*cursor: pointer;*/
  box-shadow: 0 0 10px rgb(90, 90, 90);
}
.box .title {
  text-align: center;
}
.box .tagspace {
  text-align: center;
  margin-bottom: 10px;
}
.box .description {
  text-align: left;
  margin: 10px;
}
.box .cover-image {
  display: block;
  width: 80%;
  margin: 0 auto;
  object-fit: cover;
}

/* Tag */
.tag {
  /* Remove button styling */
  border: none;
  font-size: 14px;
  color: black;
  background-color: rgb(192, 228, 241);
  padding: 5px;
  border-radius: 5px;
  margin: 2px;
}
.tag:hover {
  background-color: skyblue;
}
#tag-filter {
  text-align: center;
}

/* Home */
.quick-view {
  text-align: center;
}
.quick-view .box {
  width: 40%;
  height: 400px;
  max-width: 600px;
}
.quick-view .box .cover-image {
  height: 200px;
}
.break {
  margin-bottom: 50px;
}

/* About */
#about-img {
  display: block;
  margin: 0 auto;
  width: 20%;
  min-width: 200px;
  height: auto;
  padding: 10px;
}
#about-text {
  /*margin-left: 10%;
  margin-right: 10%;*/
  text-align: center;
}

/* Projects */
#projects-container {
  text-align: center;
}
#projects-container .box {
  width: 40%;
  height: 400px;
  max-width: 600px;
}
#projects-container .box .cover-image {
  height: 200px;
}

/* Blog */
#blogs-container {
  text-align: center;
}
#blogs-container .box {
  width: 90%;
  height: 600px;
  max-width: 1000px;
}
#blogs-container .box .cover-image {
  height: 300px;
}

/* Footer */
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 5rem;
}
#footer {
  position: absolute;
  bottom: 0;
  height: 2.5rem;
  /* Centering */
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}
#footer span, a {
  padding: 10px;
}
#footer span.langBtn.selected {
  font-weight: bold;
}
#footer span.langBtn:hover {
  cursor: pointer;
  font-weight: bold;
}

/* Forms */
.form-group {
  display: block;
}
.form-div {
  display: block;
  text-align: center
}
.form-inner {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* Block */
.block-img {
  width: 90%;
  max-width: 1000px;
  box-shadow: 0 0 10px rgb(180, 180, 180);
}
